certifi==2017.4.17
chardet==3.0.4
cycler==0.10.0
idna==2.5
imgurpython==1.1.7
matplotlib==2.0.2
numpy==1.13.1
praw==5.0.0
prawcore==0.11.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
six==1.10.0
update-checker==0.16
urllib3==1.21.1
